<footer id="footer">
	<nav class="round">
		<ul>
			<li><%= link_to "About", "#" %></li>
			<li><%= link_to "Contact", "#" %></li>
			<li><%= link_to "Follow us on Github", "https://github.com/hadibadjian/bungee" %></li>
		</ul>
	</nav>
</footer>