<footer>
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
		<ul class="pager">
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><%= link_to "Latest Update on Github", "https://github.com/hadibadjian/bungee" %></li>
		</ul>
	</nav>
</footer>